@using Framework.Utils
@using Framework.Common

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] Self Restó</title>

    @await Html.PartialAsync("_AplicationStyles")
    @await Html.PartialAsync("_ApplicationScripts")

</head>

<body>
    <div id="SelfRestoApp">
        <v-app v-bind:class="{show:readyForRender}">

            @if (!User.Identity.IsAuthenticated)
            {
                <template>
                    <v-main class="login-bg">
                        <v-container fluid>

                            @RenderBody()

                            <v-snackbar v-model="notification.show"
                                        transition="scale-transition"
                                        :color="notification.type"
                                        :timeout="notification.timeout">

                                <v-icon :color="notification.iconColor">
                                    {{notification.icon}}
                                </v-icon>
                                {{notification.message}}
                            </v-snackbar>
                        </v-container>
                    </v-main>
                </template>
            }

            <!--Header Employees-->
            @if (User.Identity.IsAuthenticated && ((UserUtils.UserPermission(Context.User, Constants.WAITER)) || (UserUtils.UserPermission(Context.User, Constants.KITCHEN)) || (UserUtils.UserPermission(Context.User, Constants.ADMINISTRATOR))))
            {
                <template>
                    <v-app-bar app
                               dark
                               dense
                               style="background: linear-gradient(to top, #a54047, #bd6476, #a54047); ">
                        @if (!UserUtils.UserPermission(Context.User, Constants.KITCHEN))
                        {
                            <v-app-bar-nav-icon @@click.stop="drawer = !drawer"></v-app-bar-nav-icon>
                        }

                        <v-toolbar-items>
                            <div class="mt-3">{{jsglobals.User}}: <strong>@Html.Raw(UserUtils.GetName(User)), @Html.Raw(UserUtils.GetRole(User))</strong></div>
                        </v-toolbar-items>
                        <v-spacer></v-spacer>
                        <v-toolbar-title class="d-none d-md-flex">
                            <img class="rounded-lg mt-0 headerImage" :src="logoHeader" />
                        </v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-toolbar-items>
                            <v-row dense justify="center">
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn icon v-bind="attrs" v-on="on" v-on:click="closeSession()"
                                               large>
                                            <v-icon class="material-icons">
                                                logout
                                            </v-icon>
                                        </v-btn>
                                    </template>
                                    <span>{{jsglobals.CloseSession}}</span>
                                </v-tooltip>
                            </v-row>
                        </v-toolbar-items>
                    </v-app-bar>
                </template>

                <v-navigation-drawer v-model="drawer"
                                     width="280"
                                     class="mx-auto"
                                     app
                                     dense
                                     dark
                                     temporary
                                     style="background: linear-gradient(to top, #a54047, #bd6476, #a54047);">

                    @if ((UserUtils.UserPermission(Context.User, Constants.WAITER)) || (UserUtils.UserPermission(Context.User, Constants.ADMINISTRATOR)))
                    {
                        <v-list class="pb-0">
                            <v-list-item>
                                <v-list-item-content>
                                    <v-list-item-title class="text-h6" style="cursor:pointer;">
                                        <a class="menu-left-links" href="/Home/IndexEmployee">
                                            {{jsglobals.TitleSelfResto}}
                                        </a>
                                    </v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list>
                    }

                    <v-list nav
                            dense class="pt-0">
                        <v-list-item-content class="d-block">
                            @if ((UserUtils.UserPermission(Context.User, Constants.WAITER)) || (UserUtils.UserPermission(Context.User, Constants.ADMINISTRATOR)))
                            {
                                <v-list-item>
                                    <a class="menu-left-links" href="/MenuItems/List">
                                        <v-list-item-icon>
                                            <v-icon class="material-icons">
                                                restaurant_menu
                                            </v-icon>
                                        </v-list-item-icon>
                                        <v-list-item-title style="font-size:1em;">{{jsglobals.Menu}} - Items</v-list-item-title>
                                    </a>
                                </v-list-item>
                                <v-divider color="pink" class="mt-2 mb-2"></v-divider>
                            }
                            @if (UserUtils.UserPermission(Context.User, Constants.ADMINISTRATOR))
                            {
                                <v-list-item>
                                    <a class="menu-left-links" href="/Users/List">
                                        <v-list-item-icon>
                                            <v-icon class="material-icons">
                                                manage_accounts
                                            </v-icon>
                                        </v-list-item-icon>
                                        <v-list-item-title style="font-size:1em;">{{jsglobals.Users}}</v-list-item-title>
                                    </a>
                                </v-list-item>
                                <v-divider color="pink" class="mt-2 mb-2"></v-divider>

                                <v-list-item>
                                    <a class="menu-left-links" href="/Tables/List">
                                        <v-list-item-icon>
                                            <v-icon class="material-icons">
                                                table_restaurant
                                            </v-icon>
                                        </v-list-item-icon>
                                        <v-list-item-title style="font-size:1em;">{{jsglobals.Tables}}</v-list-item-title>
                                    </a>
                                </v-list-item>
                                                            }
                        </v-list-item-content>
                    </v-list>
                </v-navigation-drawer>

            }

            <!--Header Clients-->
            @if (User.Identity.IsAuthenticated && UserUtils.UserPermission(Context.User, Constants.CLIENT))
            {
                <template>
                    <v-app-bar app
                               dark
                               dense
                               style="background: linear-gradient(to top, #a54047, #bd6476, #a54047); ">
                        <v-app-bar-nav-icon @@click.stop="drawer = !drawer"></v-app-bar-nav-icon>
                        <v-toolbar-items>
                            <v-avatar x-large class="" style="font-size: 14px; border: 1px solid; display: block">
                                <div class="mt-2"><strong>{{jsglobals.Table}}</strong></div>
                                <div><strong>{{model.TableNumber}}</strong></div>
                            </v-avatar>
                        </v-toolbar-items>
                        <v-spacer></v-spacer>
                        <v-toolbar-title class="d-none d-md-flex">
                            <img class="rounded-lg offset-md-6 mt-1 headerImage" :src="logoHeader" />
                        </v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-toolbar-items>
                            <v-row justify="center" class="pt-1">
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn icon v-bind="attrs" v-on="on" v-on:click="goToMenu(model.Id)"
                                               large
                                               class="mt-2">
                                            <v-icon class="material-icons">
                                                restaurant_menu
                                            </v-icon>
                                        </v-btn>
                                    </template>
                                    <span>{{jsglobals.GoToMenu}}</span>
                                </v-tooltip>
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn icon v-bind="attrs" v-on="on"
                                               large
                                               class="mt-2">
                                            <v-icon v-if="model.Call" color="yellow darken-2" class="material-icons alertWaiter">notifications_active</v-icon>
                                            <v-icon v-else class="material-icons" v-on:click="callWaiter()">notifications_active</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>{{jsglobals.CallWaiter}}</span>
                                </v-tooltip>
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn icon v-bind="attrs" v-on="on" v-on:click="seeOrder(model.OrderId)"
                                               large
                                               class="mt-2">
                                            <v-icon class="material-icons">
                                                shopping_cart
                                            </v-icon>
                                            <span>{{model.ItemsTotalQuantity}}</span>

                                        </v-btn>
                                    </template>
                                    <span>{{jsglobals.SeeOrder}}</span>
                                </v-tooltip>
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn icon v-bind="attrs" v-on="on"
                                               large
                                               class="mt-2">
                                            <v-icon v-if="model.PaymentRequest" color="green" class="material-icons mr-1 alertWaiter">paid</v-icon>
                                            <v-icon v-else v-on:click="requestBill()">paid</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>{{jsglobals.Bill}}</span>
                                </v-tooltip>
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn icon v-bind="attrs" v-on="on" v-on:click="closeSession()"
                                               large
                                               class="mt-2">
                                            <v-icon class="material-icons">
                                                logout
                                            </v-icon>
                                        </v-btn>
                                    </template>
                                    <span>{{jsglobals.CloseSession}}</span>
                                </v-tooltip>
                            </v-row>
                        </v-toolbar-items>
                    </v-app-bar>
                </template>

                <v-navigation-drawer v-model="drawer"
                                     width="280"
                                     class="mx-auto"
                                     app
                                     dense
                                     dark
                                     temporary
                                     style="background: linear-gradient(to top, #a54047, #bd6476, #a54047);">

                    <v-list>
                        <v-list-item>
                            <v-list-item-content>
                                <v-list-item-title class="text-h6" style="cursor:pointer;">
                                    <p class="menu-left-links" v-on:click="seeIndex()">
                                        <v-icon class="mr-1">mdi-home</v-icon>
                                        {{jsglobals.Home}}
                                    </p>
                                </v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                </v-navigation-drawer>
            }

            <!--Main Kitchen-->
            @if (User.Identity.IsAuthenticated && UserUtils.UserPermission(Context.User, Constants.KITCHEN))
            {
                <template>
                    <v-main class="backgroundKitchen">

                        @RenderBody()

                        <v-snackbar v-model="notification.show"
                                    transition="scale-transition"
                                    :color="notification.type"
                                    :timeout="notification.timeout">

                            <v-icon :color="notification.iconColor">
                                {{notification.icon}}
                            </v-icon>
                            {{notification.message}}
                        </v-snackbar>
                    </v-main>
                </template>
            }

            <!--Main Waiter-->
            @if (User.Identity.IsAuthenticated && UserUtils.UserPermission(Context.User, Constants.WAITER))
            {
        <template>
            <v-main class="backgroundWaiter">
                <v-container fluid>

                    @RenderBody()

                    <v-snackbar v-model="notification.show"
                                transition="scale-transition"
                                :color="notification.type"
                                :timeout="notification.timeout">

                        <v-icon :color="notification.iconColor">
                            {{notification.icon}}
                        </v-icon>
                        {{notification.message}}
                    </v-snackbar>
                </v-container>
            </v-main>
        </template>
            }

            <!--Main Admin-->
            @if (User.Identity.IsAuthenticated && UserUtils.UserPermission(Context.User, Constants.ADMINISTRATOR))
            {
        <template>
            <v-main class="backgroundAdmin">
                <v-container fluid>

                    @RenderBody()

                    <v-snackbar v-model="notification.show"
                                transition="scale-transition"
                                :color="notification.type"
                                :timeout="notification.timeout">

                        <v-icon :color="notification.iconColor">
                            {{notification.icon}}
                        </v-icon>
                        {{notification.message}}
                    </v-snackbar>
                </v-container>
            </v-main>
        </template>
            }

            <!--Main Client-->
            @if (User.Identity.IsAuthenticated && UserUtils.UserPermission(Context.User, Constants.CLIENT))
            {
        <template>
            <v-main class="backgroundClient">
                <v-container fluid>

                    @RenderBody()

                    <v-snackbar v-model="notification.show"
                                transition="scale-transition"
                                :color="notification.type"
                                :timeout="notification.timeout">

                        <v-icon :color="notification.iconColor">
                            {{notification.icon}}
                        </v-icon>
                        {{notification.message}}
                    </v-snackbar>
                </v-container>
            </v-main>
        </template>
            }

            <!--All Footer-->
            @if (User.Identity.IsAuthenticated)
            {
        <template>
            <v-footer style="font-size: 13px; background-color:#bd6476" paddless>
                <v-row dense class="justify-space-between">
                    <v-col class="col-md-2">
                        <v-avatar size="30">
                            <img :src="logoCubiertos"
                                 alt="SelfResto" />
                        </v-avatar>
                        {{jsglobals.SelfResto}}
                    </v-col>
                    <v-col class="text-center col-md-8">
                        <ul style=" list-style-type: none; display:inline">
                            <li style="display:inline">
                                <a :href="facebook.url" target="_blank">
                                    <v-avatar size="25" :class="facebook">
                                        <img :src="facebook.imagen" />
                                    </v-avatar>
                                </a>
                            </li>
                            <li style="display:inline">
                                <a :href="instagram.url" target="_blank">
                                    <v-avatar size="28">
                                        <img :src="instagram.imagen" />
                                    </v-avatar>
                                </a>

                            </li>
                        </ul>
                    </v-col>
                    <v-col class="white--text text-end mt-2">{{jsglobals.ProducedBy}}</v-col>
                </v-row>
            </v-footer>
        </template>
                    }
</v-app>
    </div>


    <script type="text/javascript">

        var vueApp = null;
        var vueAppParams = { vuetify: new Vuetify(), data: { errors: {} }, methods: {} };

        vueAppParams.data.jsglobals = {};
        vueAppParams.data.background = '';
        vueAppParams.el = "#SelfRestoApp";
        vueAppParams.data.background = 'acerbrag-bg';
        vueAppParams.data.readyForRender = true;

        //Menu
        vueAppParams.data.drawer = false;
        vueAppParams.data.group = null;
        //Breadcrumbs
        vueAppParams.data.breadcrumbs = [];

    </script>

    <script src="~/js/general/general.js"></script>
    <script src="~/js/general/errorHandler.js"></script>
    <script src="~/js/general/notification.js"></script>
    <script src="~/js/general/validationUtils.js"></script>
    <script src="~/js/general/logout.js"></script>


    @await Html.PartialAsync("_ResourcesUI")

    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        vueApp = new Vue(vueAppParams);
    </script>

</body>
</html>
